

<div class="footer">
    <div class="container">
        <div class="row sections p-5">
          <div class="col-sm mt-5 sec1">
              <h2>LOCATION</h2>
              <p>2215 John Daniel Drive</p>
              <p>Clark, MO 65243</p>
            </div>
            <div class="col-sm mt-5 sec2">
                <h2>AROUND THE WEB</h2>
                <div class="icons">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-linkedin-in"></i>
                    <i class="fa-solid fa-globe"></i>
                </div>
          </div>
          <div class="col-sm mt-5 sec3">
              <h2>ABOUT FREELANCER</h2>
              <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
          </div>
        </div>
    </div>
    <div class="copyFooter">
        <p>Copyright © Your Website 2021</p>
    </div>
</div>