<div class="about">
    <div class="container">
        <div class="aboutCom text-center pt-4 position-relative">
            <h1 class="component text-uppercase mb-3 fs-1 fw-bolder">ABOUT COMPONENT</h1>
            <i class="fa-sharp fa-solid fa-star"></i>
        </div>
        <div class="parags row px-5 mt-3">
            <div class="col-md-6 ps-md-5">
                <p>Freelancer is a free bootstrap theme created by Route. 
                    The download includes the complete source files including
                    HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
                </p>
            </div>
            <div class="col-md-6 ps-md-5">
                <p>Freelancer is a free bootstrap theme created by Route. 
                    The download includes the complete source files including
                    HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
                </p>
            </div>
        </div>
    </div>
</div>