
<div class="contact">
    <div class="container">
        <div class="contactCom text-center pt-4 position-relative">
            <h1 class="component text-uppercase mb-3 fs-1 fw-bolder">CONATCT SECTION</h1>
            <i class="fa-sharp fa-solid fa-star"></i>
        </div>
        <form class="w-50 p-3 mx-auto mt-5">
            <input  id="userName" type="text" placeholder="userName" name="userName" class="form-control border-0 border-bottom py-3 position-relative">
            <input  id="userAge" type="text" placeholder="userAge" name="userName" class="form-control border-0 border-bottom py-3 position-relative">
            <input id="userEmail" type="text" placeholder="userEmail" name="userName" class="form-control border-0 border-bottom py-3 position-relative">
            <input id="userPassword" type="text" placeholder="userPassword" name="userName" class="form-control border-0 border-bottom py-3 position-relative">
            <button class="btn mt-4 text-white" style="background-color: #1abc9c;"> send Message </button>
        </form>
    </div>
</div>