<div class="portfolio">
    <div class="container">
        <div class="portfolioCom text-center pt-4 position-relative">
            <h1 class="component text-uppercase mb-3 fs-1 fw-bolder">PORTFOLIO COMPONENT</h1>
            <i class="fa-sharp fa-solid fa-star"></i>
        </div>
        <div class="row g-5 my-2">
            <div class="col-lg-4 col-md-6 rounded-3 overflow-hidden position-relative">
                <img class="w-100 rounded-3" src="../../assets/img/poert1.png" alt="">
                <div class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                    <i class="text-white fa-solid fa-plus fa-6x"></i>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 rounded-3 overflow-hidden position-relative">
                <img class="w-100 rounded-3" src="../../assets/img//port2.png" alt="">
            </div>
            <div class="col-lg-4 col-md-6 rounded-3 overflow-hidden position-relative">
                <img class="w-100 rounded-3" src="../../assets/img/port3.png" alt="">
            </div>
            <div class="col-lg-4 col-md-6 rounded-3 overflow-hidden position-relative">
                <img class="w-100 rounded-3" src="../../assets/img/poert1.png" alt="">
            </div>
            <div class="col-lg-4 col-md-6 rounded-3 overflow-hidden position-relative">
                <img class="w-100 rounded-3" src="../../assets/img//port2.png" alt="">
            </div>
            <div class="col-lg-4 col-md-6 rounded-3 overflow-hidden position-relative">
                <img class="w-100 rounded-3" src="../../assets/img/port3.png" alt="">
            </div>
        </div>
    </div>
</div>